@charset "UTF-8";
#aaa{
	display: flex;
	justify-content: center;
}
#gst{
	width: 180px;
	height: 200px;
	border: 2px solid lightgray;
	border-right: none;
	border-radius: 15px 0px 0px 15px;
	display: flex;
	justify-content: center;
	background-color: #ff6868;
	cursor: pointer;
}
#hst{
	width: 180px;
	height: 200px;
	border: 2px solid lightgray;
	border-radius: 0px 15px 15px 0px;
	display: flex;
	justify-content: center;
	background-color: #64b1ff;
	cursor: pointer;
}
.login_logo_img{
	margin-top: -20px;
	margin-bottom: 20px;
}
#guest{
	font-size: 1.3em;
	margin-top: 80px;
	font-weight: bold;
	color: white;
}
#host{
	font-size: 1.3em;
	margin-top: 80px;
	font-weight: bold;
	color: white;
}


